
<br><br>
<br><br>
<br><br><footer class="bg-light text-center text-lg-start mt-5">
    <div class="container p-4">
      <div class="row">

        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-success">Fédération Malagasy de Judo</h5>
          <p class="text-muted">
            Promouvoir l'esprit du judo à travers les compétitions, l'entraînement et les valeurs éducatives.
          </p>
        </div>

        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-success">Liens utiles</h5>
          <ul class="list-unstyled mb-0">
            <li><a href="/" class="text-muted">Judokas</a></li>
            <li><a href="{% url 'classements:indexClassement' %}" class="text-muted">Classements</a></li>
            <li><a href="{% url 'calendriers:indexCalendrier' %}" class="text-muted">Calendrier</a></li>
          </ul>
        </div>
  
        <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
          <h5 class="text-success">Nous suivre</h5>
          <a href="https://web.facebook.com/federationmalagasyjudo" class="me-3 text-primary"><i class="bi bi-facebook"></i> Facebook</a><br>

        </div>
      </div>
    </div>
  
    <div class="text-center p-3 bg-secondary text-white">
      © 2025 Fédération Malagasy de Judo
    </div>

    <!-- Bootstrap Icons (facultatif mais utile pour les icônes) -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">

  </footer>
  